<h1>Résultat de Tesseract et Calamari</h1>
<hr/>
<div>
  <button class="submit" (click)="getResult()">Afficher le résultat</button>
</div>
<div class="container">
  <div class="stretch">
    <h1>Tesseract</h1>
    <p class="info" *ngIf="timed">
      Nom du fichier : {{result[1].fileName}} | Temps de traitement : {{ result[1].time }} secondes
    </p>
    <textarea disabled>{{ result[1].text }}</textarea>
  </div>
  <div class="stretch">
    <h1>Calamari</h1>
    <p class="info" *ngIf="timed">
      Nom du fichier : {{result[0].fileName}} | Temps de traitement : {{ result[0].time }} secondes
    </p>
    <textarea disabled>{{ result[0].text }}</textarea>
  </div>
</div>