<div class="body">
  <div class="home" routerLink="/accueil">
    <fa-icon [icon]="homeIcon"></fa-icon>
  </div>
  <div class="upload">
    <div><h1>L AD</h1></div>
    <div class="box" appDnd (fileDropped)="onFileDropped($event)">
      <input
        type="file"
        accept="image/*"
        title=""
        multiple
        #fileUpload
        (click)="onClick()"
      />
      <fa-icon [icon]="fileUploadIcon"></fa-icon>
    </div>
    <div>
      <button class="submit" [disabled]="!canSubmit" (click)="onSubmit()">
        Valider
      </button>
    </div>
  </div>
  <div class="choice">
    <div id="btn" routerLink="/tesseract">Tesseract</div>
    <div id="btn" routerLink="/calamari">Calamari</div>
    <div id="btn" routerLink="/both">Comparateur</div>
  </div>
  {{ uploadData | json}}
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>
