<div class="body">
  <div class="upload">
    <div><h1>L AD</h1></div>
    <div id="box">
      <fa-icon [icon]="fileUploadIcon"></fa-icon>
      <input type="file" id="file" accept="image/*" title="" (change)="detectFile($event)"/>
    </div>
    <div>
      <button class="submit" [disabled]="!fileUploaded" (click)="onSubmit()">
        Valider
      </button>
    </div>
  </div>
  <div class="choice">
    <div id="btn" routerLink="/tesseract">Tesseract</div>
    <div id="btn" routerLink="/calamari">Calamari</div>
    <div id="btn" routerLink="/both">Comparateur</div>
  </div>
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>

<!--
<div>
  <input type="file" accept="image/*" title="" (change)="detectFile($event)"/>
</div>
-->
